body {
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-image: linear-gradient(
    to bottom,
    rgb(183, 244, 255),
    rgb(255, 209, 255)
  );
  background-image: linear-gradient(
    to right,
    rgb(247, 198, 247),
    rgb(194, 247, 247)
  );
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

* {
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

#main {
  margin: 80px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#mainwrap {
  display: flex;
  justify-content: space-evenly;
}

#pricing {
  background-color: rgb(58, 58, 58);
  color: white;
  border: 1px hidden;
  border-radius: 15px;
  height: 435px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

#pricing p:nth-child(even) {
  background-color: rgb(104, 104, 104);
}

#pricingchild {
  border: 1px hidden;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.452);
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 220px;
  height: 120px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 79%;
  margin-bottom: 0px;
  bottom: 10%;
}

#pricingchild h1 {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-family: arial;
}

#pricingchild1 {
  margin-top: -60px;
}

#pricingchild1 p {
  font-size: 12px;
  padding: 20px;
}

#free {
  background-color: blue;
  color: white;
  border: 1px hidden;
  border-radius: 15px;
  width: 170px;
  height: 435px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#free p:nth-child(even) {
  background-color: rgb(152, 152, 255);
}

#freechild {
  border: 1px hidden;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.452);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 130px;
  height: 120px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 11%;
}

#freechild h1 {
  position: relative;
  padding-top: 35%;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

#freechild1 {
  margin-top: -65px;
}

#freechild1 p {
  font-size: 12px;
  padding: 15px;
}

#freechild2 {
  border: 1px hidden;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.452);
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 130px;
  height: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -20px;
}

#freechild2 h2 {
  position: relative;
  padding-top: 10%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: arial;
}

#permonth1 {
  background-color: rgb(143, 0, 209);
  color: white;
  border: 1px hidden;
  border-radius: 15px;
  width: 170px;
  height: 435px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#permonth1child1 p:nth-child(even) {
  background-color: rgb(217, 136, 255);
}

#permonth1child {
  border: 1px hidden;
  border-radius: 15px;
  border: 1px hidden;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.452);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 130px;
  height: 120px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 11%;
  line-height: 2px;
}

#permonth1child h1 {
  position: relative;
  padding-top: 37%;
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-family: arial;
}

#permonth1child1 {
  margin-top: -65px;
}

#permonth1child1 p {
  font-size: 12px;
  padding: 15px;
}

#permonth1child2 {
  border: 1px hidden;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.452);
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 130px;
  height: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -20px;
}

#permonth1child2 h2 {
  position: relative;
  padding-top: 10%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: arial;
}

#permonth2 {
  background-color: rgb(233, 0, 136);
  color: white;
  border: 1px hidden;
  border-radius: 15px;
  width: 170px;
  height: 435px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#permonth2child1 p:nth-child(even) {
  background-color: rgb(250, 132, 201);
}

#permonth2child {
  border: 1px hidden;
  border-radius: 15px;
  border: 1px hidden;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.452);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 130px;
  height: 120px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 11%;
  line-height: 2px;
}

#permonth2child h1 {
  position: relative;
  padding-top: 37%;
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-family: arial;
}

#permonth2child1 {
  margin-top: -65px;
}

#permonth2child1 p {
  font-size: 12px;
  padding: 15px;
}

#permonth2child2 {
  border: 1px hidden;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.452);
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 130px;
  height: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -20px;
}

#permonth2child2 h2 {
  position: relative;
  padding-top: 10%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: arial;
}

#permonth3 {
  background-color: rgb(255, 174, 0);
  color: white;
  border: 1px hidden;
  border-radius: 15px;
  width: 170px;
  height: 435px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#permonth3child1 p:nth-child(even) {
  background-color: rgb(248, 210, 129);
}

#permonth3child {
  border: 1px hidden;
  border-radius: 15px;
  border: 1px hidden;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.452);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 130px;
  height: 120px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 11%;
  line-height: 2px;
}

#permonth3child h1 {
  position: relative;
  padding-top: 37%;
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-family: arial;
}

#permonth3child1 {
  margin-top: -65px;
}

#permonth3child1 p {
  font-size: 12px;
  padding: 15px;
}

#permonth3child2 {
  border: 1px hidden;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.452);
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 130px;
  height: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -20px;
}

#permonth3child2 h2 {
  position: relative;
  padding-top: 10%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: arial;
}

.wrap {
   margin-bottom: 100px;
}